/* fonts 
font-family: 'Epilogue', sans-serif;
font-family: 'Urbanist', sans-serif; 
*/
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@600&family=Urbanist:ital,wght@1,300&display=swap');
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
   
  }

h1, h6, h5 {
    font-family: 'Epilogue', sans-serif;
}

h6 {
    font-weight: bolder;   
}

p, a, span {
    font-family: 'Urbanist', sans-serif; 
}

p, h6 {
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

h6 {
    font-size: 1.1em;
    letter-spacing: -0.06em;
}

p {
    font-size: 0.8em;
    letter-spacing: -0.01em;

}

main {
    width: 850px;
    margin: 10% auto;

    display: flex;
    align-items: baseline;
    gap: 150px ;
}

.button {
    padding: 1rem;
    background-color: rgb(0, 110, 255);
    color: white;
    text-align: center; 
    border-radius: 25px;
    min-height: 50px;
}

.button:hover{
    background-color: rgb(43, 132, 248);
}

.tertiary-button:hover {
    color: rgb(88, 157, 248);  
}

.tertiary-button {
    text-decoration: underline;
    color: rgb(0, 110, 255);
}

.button, .tertiary-button {
    cursor: pointer;
}

.title {
    margin-bottom: 50px;
}

.payment-option {
    width: 500px;
    border: 1.1px solid rgb(200, 200, 200);
    border-radius: 10px;

    height: 70px;
    margin: 20px 0;

    display: flex;
    flex-direction: column;
    justify-content:start;
    padding: 1em;

    cursor: pointer;

}

.current-payment-option {
    border-color: rgb(61, 145, 255);
    border-width: 3px;
    border-style: solid;
    box-shadow: 0px 0px 7px rgba(0, 110, 255, 0.5);
}

footer {
    width: 75%;
    margin: auto;

    text-align: center;
    color: rgb(149, 148, 148);
}

hr {
    border-style: none;
    height: 1px;
    background-color: rgb(200, 200, 200);
}

.transition-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);

    width: 100%;
    height: 100%;
}

.order-summary {
    position: absolute;
    top: 10%;
    right: 40px;

    height: 600px;
    width: 350px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);

    padding: 2rem;

}

.order-summary > ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.order-summary > ul > li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 10px 0;

}

.order-summary > ul li:nth-child(1) {
    border-top: 1px solid rgb(200, 200, 200);
    margin-top: 10px;
}

#close-button {
    background-color: rgba(195, 195, 195, 0.6);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    right: 320px;

    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

#close-button:hover {
    background-color: rgb(195, 195, 195);
    cursor: pointer;
}

.item-container {
    background-color: rgb(186, 186, 186);
    border-radius: 10px;

    margin: 40px auto;
    width: 200px;
    height: 150px;

    display: flex;
}

.img-container {
    width: 50%;
    height: auto;
    margin: auto;
}

.img-container > img {
    max-width: 100%;
    height: auto;
}